@using GameShop.Exstensions
@using GameShop.ViewModel
@using GameShopModel.Entities
@model GameProductsVM
@if (User.Identity.IsAuthenticated && (User.IsInRole("user") || User.IsInRole("admin")))
{
    <div class="container mt-5">
        <h1>Популярные игры</h1>
        <form asp-controller="GamesInShop" asp-action="PopularGames" method="get">
            Жанр:
            <select name="selectedGenreGameProduct"
                    asp-for="FilteredGameProductVM.SelectGenreGameProduct"
                    asp-items="Model.FilteredGameProductVM.Genres">
                <option value="">Все</option>
            </select>

            Фильтрация:
            <select name="sortGameProductState"
                    asp-for="SortGameProductVM.SortTitleGameProduct">
                <option value="">Все</option>
                <option value="TitleAsc">По алфавиту ( от А до Я)</option>
                <option value="TitleDesc">По алфавиту (от Я до А)</option>
            </select>

            Название игры: <input name="selectedTitleGameProduct" value="@Model.FilteredGameProductVM.SelectTitleGameProduct" type="text" />
            <input type="submit" value="Поиск" />

        </form>
        <div class="row row-cols-4 gap-3 mt-4">
            @foreach (var gameProduct in Model.GameProducts)
            {
                var gameStatus = Model.GameStatuses[gameProduct.Id];
                <div class="card" style="width: 18rem;">
                    <a asp-controller="Game" asp-action="Details" asp-route-id="@gameProduct.Id" style="text-decoration: inherit; color:inherit">
                        <img src="@gameProduct.PresentationImageURL" class="card-img-top" alt="@gameProduct.Title" />
                        <div class="card-body">
                            <h5 class="card-title">@gameProduct.Title</h5>
                            <p class="card-text">@gameProduct.Description.Truncate(60)...</p>
                            <p class="card-text">@gameProduct.Price₽</p>
                        </div>
                    </a>
                    @if (gameStatus.IsInLibrary)
                    {
                        <p class="text-muted">Игра уже в библиотеке</p>
                    }
                    else if (gameStatus.IsInCart)
                    {
                        <a class="btn btn-secondary" disabled>В корзине</a>
                    }
                    else
                    {
                        <a asp-controller="Game" asp-action="Add" asp-route-id="@gameProduct.Id" class="btn btn-primary">Купить</a>
                    }
                </div>
            }
        </div>
    </div>

    <br />
    <hr style="border: 1px solid #ccc;">

    const string Disabled = "disabled";
    const string Active = "active";
    string isDisabledPreviousPage = string.Empty;
    if (!Model.GameProducts.HasPreviousPage)
    {
        isDisabledPreviousPage = Disabled;
    }

    string isDisabledNextPage = string.Empty;
    if (!Model.GameProducts.HasNextPage)
    {
        isDisabledNextPage = Disabled;
    }

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @isDisabledPreviousPage">
                <a asp-action="PopularGames"
                   asp-route-page="@(Model.GameProducts.PageIndex - 1)" asp-route-sortMovieState="@(Model.SortGameProductVM.SortTitleGameProduct)"
                   asp-route-selectedMovieGenre="@(Model.FilteredGameProductVM.SelectGenreGameProduct)"
                   asp-route-selectedMovieTitle="@(Model.FilteredGameProductVM.SelectTitleGameProduct)"
                   class="page-link" tabindex="-1"
                   aria-disabled="@Model.GameProducts.HasPreviousPage">Назад</a>
            </li>
            @for (int indexPage = 1; indexPage <= Model.GameProducts.TotalPages; indexPage++)
            {
                string isActive = string.Empty;
                @if (indexPage == Model.GameProducts.PageIndex)
                {
                    isActive = Active;
                }

                <li class="page-item @isActive">
                    <a asp-action="PopularGames"
                       asp-route-page="@indexPage"
                       asp-route-sortMovieState="@(Model.SortGameProductVM.SortTitleGameProduct)"
                       asp-route-selectedMovieGenre="@(Model.FilteredGameProductVM.SelectGenreGameProduct)"
                       asp-route-selectedMovieTitle="@(Model.FilteredGameProductVM.SelectTitleGameProduct)"
                       class="page-link">@indexPage</a>
                </li>

            }

            <li class="page-item @isDisabledNextPage">
                <a asp-action="PopularGames"
                   asp-route-page="@(Model.GameProducts.PageIndex + 1)"
                   asp-route-sortMovieState="@(Model.SortGameProductVM.SortTitleGameProduct)"
                   asp-route-selectedMovieGenre="@(Model.FilteredGameProductVM.SelectGenreGameProduct)"
                   asp-route-selectedMovieTitle="@(Model.FilteredGameProductVM.SelectTitleGameProduct)"
                   class="page-link"
                   aria-disabled="@Model.GameProducts.HasNextPage">Вперед</a>
            </li>
        </ul>
    </nav>
}
@* @if (Model.GameProducts.HasPreviousPage)
{
    <a asp-action="PopularGames"
       asp-route-page="@(Model.GameProducts.PageIndex - 1)" asp-route-sortMovieState="@(Model.SortGameProductVM.SortTitleGameProduct)"
       asp-route-selectedMovieGenre="@(Model.FilteredGameProductVM.SelectGenreGameProduct)"
       asp-route-selectedMovieTitle="@(Model.FilteredGameProductVM.SelectTitleGameProduct)" class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}


@if (Model.GameProducts.HasNextPage)
{
    <a asp-action="PopularGames"
       asp-route-page="@(Model.GameProducts.PageIndex + 1)"
       asp-route-sortMovieState="@(Model.SortGameProductVM.SortTitleGameProduct)"
       asp-route-selectedMovieGenre="@(Model.FilteredGameProductVM.SelectGenreGameProduct)"
       asp-route-selectedMovieTitle="@(Model.FilteredGameProductVM.SelectTitleGameProduct)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
} *@