@using GameShop.Exstensions
@using GameShop.ViewModel
@using GameShopModel.Entities
@model GameIndexViewModel
@if (User.Identity.IsAuthenticated && (User.IsInRole("user")))
{
    <div class="container-fluid">
        <div class="row justify-content-start">
            @foreach (var gameProduct in Model.Games)
            {
                var gameStatus = Model.GameStatuses[gameProduct.Id];
                <div class="card" style="width: 18rem;">
                    <a asp-controller="Game" asp-action="Details" asp-route-id="@gameProduct.Id" style="text-decoration: inherit; color:inherit">
                        <img src="@gameProduct.PresentationImageURL" class="card-img-top" alt="@gameProduct.Title" />
                        <div class="card-body">
                            <h5 class="card-title">@gameProduct.Title</h5>
                            <p class="card-text">@gameProduct.Description.Truncate(60)...</p>
                            <p class="card-text">@gameProduct.Price₽</p>

                            @if (gameStatus.IsInLibrary)
                            {
                                <!-- игра уже в библиотеке, кнопку скрываем -->
                                <p class="text-muted">Игра уже в библиотеке</p>
                            }
                            else if (gameStatus.IsInCart)
                            {
                                <!-- игра в корзине, кнопку блокируем -->
                                <a class="btn btn-secondary" disabled>В корзине</a>
                            }
                            else
                            {
                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@gameProduct.Id" class="btn btn-primary">Купить</a>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
@*             <div class="card">
    <img src="https://assets.codepen.io/6093409/mountains-1.jpg" alt="a snow-capped mountain range" />
    <div class="card-body">
    <h2 class="card-title">Mountains</h2>
    <p class="card-text">This is a photo of snowy-covered mountains. How majestic.</p>
    <a href="#" class="btn btn-secondary">Learn more</a>
    </div>
    </div>
    <div class="card">
    <img src="https://assets.codepen.io/6093409/mountains-4.jpg" alt="a snowy mountain with clouds behind it" />
    <div class="card-body">
    <h2 class="card-title">Mountains</h2>
    <p class="card-text">This is a photo of snowy-covered mountains. How majestic.</p>
    <a href="#" class="btn btn-secondary">Learn more</a>
    </div>
    </div>
    <div class="card">
    <img src="https://assets.codepen.io/6093409/mountains-3.jpg" alt="a mountain range under a thin layer of clouds" />
    <div class="card-body">
    <h2 class="card-title">Mountains</h2>
    <p class="card-text">This is a photo of snowy-covered mountains. How majestic.</p>
    <a href="#" class="btn btn-secondary">Learn more</a>
    </div>
    </div>
    </div>
    </div>
    </div> *@



