@using GameShopModel.Entities;
@using GameShop.Exstensions;
@{
    ViewData["Title"] = "Рекомендованные игры";
}
@model List<RecommendedGameProduct>


<div class="container mt-5">
    <h1 class="mt-3">Рекомендованные игры: </h1>
    <div class="row row-cols-4 gap-3 mt-4">
        @foreach (var recommendedGameProduct in Model)
        {
            <div class="card" style="width: 18rem;">
                <a asp-controller="Game" asp-action="Details" asp-route-id="@recommendedGameProduct.GameProduct.Id" style="text-decoration: inherit; color: inherit">
                    <img src="@recommendedGameProduct.GameProduct.PresentationImageURL" class="card-img-top" alt="@recommendedGameProduct. GameProduct.Title"> <div class="card-body">
                </a>
                <h5 class="card-title">@recommendedGameProduct.GameProduct.Title</h5>
                <p class="card-text">@recommendedGameProduct.GameProduct.Description.Truncate(68)...</p>
                <p class="card-text">@recommendedGameProduct.GameProduct.Price P</p>
                <a asp-controller="Game" asp-action="Details" asp-route-id="@recommendedGameProduct.GameProduct.Id" class="btn btn-primary mt-2">Kynить</a>
            </div>
        }
    </div>
</div>
